# Lab | Cleaning categorical data
For this lab, we will be using the dataset in the Customer Analysis Business Case. This dataset can be found in files_for_lab folder. In this lab we will explore categorical data.

## Instructions
### 1. Import the necessary libraries if you are starting a new notebook.
Using the same data as the previous lab: we_fn_use_c_marketing_customer_value_analysis.csv

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

In [2]:
customer = pd.read_csv("we_fn_use_c_marketing_customer_value_analysis.csv")
customer

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

## 2. Find all of the categorical data.
Save it in a categorical_df variable.

In [3]:
categorical = customer.select_dtypes("object")
categorical

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

## 3. Check for NaN values.

In [4]:
categorical.isna().sum()

Customer             0
State                0
Response             0
Coverage             0
Education            0
Effective To Date    0
EmploymentStatus     0
Gender               0
Location Code        0
Marital Status       0
Policy Type          0
Policy               0
Renew Offer Type     0
Sales Channel        0
Vehicle Class        0
Vehicle Size         0
dtype: int64

## 4. Check all unique values of columns.

In [5]:
for col in categorical:
    print(col, "----", categorical[col].unique())

Customer ---- ['BU79786' 'QZ44356' 'AI49188' ... 'TD14365' 'UP19263' 'Y167826']
State ---- ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
Response ---- ['No' 'Yes']
Coverage ---- ['Basic' 'Extended' 'Premium']
Education ---- ['Bachelor' 'College' 'Master' 'High School or Below' 'Doctor']
Effective To Date ---- ['2/24/11' '1/31/11' '2/19/11' '1/20/11' '2/3/11' '1/25/11' '1/18/11'
 '1/26/11' '2/17/11' '2/21/11' '1/6/11' '2/6/11' '1/10/11' '1/17/11'
 '1/5/11' '2/27/11' '1/14/11' '1/21/11' '2/5/11' '1/29/11' '2/28/11'
 '2/12/11' '2/2/11' '2/7/11' '1/22/11' '2/13/11' '1/15/11' '1/8/11'
 '1/11/11' '1/28/11' '2/8/11' '2/23/11' '1/2/11' '2/16/11' '1/27/11'
 '1/23/11' '1/9/11' '2/11/11' '2/4/11' '2/1/11' '2/15/11' '2/26/11'
 '1/16/11' '1/1/11' '2/10/11' '1/24/11' '2/25/11' '1/12/11' '2/9/11'
 '1/19/11' '1/4/11' '2/14/11' '2/20/11' '2/18/11' '1/3/11' '1/13/11'
 '1/30/11' '2/22/11' '1/7/11']
EmploymentStatus ---- ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
Gender ---- ['F' 'M']
Location Code ---- ['Suburban' 'Rural' 'Urban']
Marital Status ---- ['Married' 'Single' 'Divorced']
Policy Type ---- ['Corporate Auto' 'Personal Auto' 'Special Auto']
Policy ---- ['Corporate L3' 'Personal L3' 'Corporate L2' 'Personal L1' 'Special L2'
 'Corporate L1' 'Personal L2' 'Special L1' 'Special L3']
Renew Offer Type ---- ['Offer1' 'Offer3' 'Offer2' 'Offer4']
Sales Channel ---- ['Agent' 'Call Center' 'Web' 'Branch']
Vehicle Class ---- ['Two-Door Car' 'Four-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car']
Vehicle Size ---- ['Medsize' 'Small' 'Large']

## 5. Check dtypes.

In [6]:
categorical.dtypes

Customer             object
State                object
Response             object
Coverage             object
Education            object
Effective To Date    object
EmploymentStatus     object
Gender               object
Location Code        object
Marital Status       object
Policy Type          object
Policy               object
Renew Offer Type     object
Sales Channel        object
Vehicle Class        object
Vehicle Size         object
dtype: object

## 6. Does any column contain alpha and numeric data?
Decide how to clean it

In [10]:
#categorical["Renew Offer Type"] = categorical["Renew Offer Type"].str.strip("Offer")
#categorical.head()

def clean_rot(x):
    y = ""
    for char in x:
        if re.match("[A-Z]|[a-z]", char):
            pass
        else:
            y = y+char
    return y

In [12]:
categorical["Renew Offer Type"] = categorical["Renew Offer Type"].apply(clean_rot)
categorical["Renew Offer Type"].value_counts()

1    3752
2    2926
3    1432
4    1024
Name: Renew Offer Type, dtype: int64

## 7. Would you choose to do anything else to clean or wrangle the categorical data?
Comment your decisions.

In [14]:
# We will take a look at them first

for col in categorical:
    print(categorical[col].value_counts())
    print("\n")

BU79786    1
PU81096    1
CO75086    1
WW52683    1
XO38850    1
          ..
HS14476    1
YL91587    1
CT18212    1
EW35231    1
Y167826    1
Name: Customer, Length: 9134, dtype: int64


California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64


No     7826
Yes    1308
Name: Response, dtype: int64


Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64


Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64


1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/31/11    178
1/3/11     178
1/20/11    173
2/26/11    169
1/28/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/10/11    161
2/28/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/22/11    158
2/5/11     158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
2/1/11     154
1/18/11    154
1/15/11    153
1/14/11    152
2/11/11    151
1/7/11     151
1/25/11    151
2/25/11    149
1/8/11     149
2/18/11    149
2/2/11     149
1/1/11     148
2/21/11    148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/16/11    139
2/13/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: Effective To Date, dtype: int64


Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64


F    4658
M    4476
Name: Gender, dtype: int64


Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64


Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64


Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64


Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64


1    3752
2    2926
3    1432
4    1024
Name: Renew Offer Type, dtype: int64


Agent          3477
Branch         2567
Call Center    1765
Web            1325
Name: Sales Channel, dtype: int64


Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Sports Car        484
Luxury SUV        184
Luxury Car        163
Name: Vehicle Class, dtype: int64


Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

- We could group the 'employment_status' by 'Employed' and 'other'

In [18]:
def clean_es(x):
        if x == "Employed":
            return x
        else:
            return "Other"

In [19]:
categorical["EmploymentStatus"] = categorical["EmploymentStatus"].apply(clean_es)
categorical["EmploymentStatus"].value_counts()

Employed    5698
Other       3436
Name: EmploymentStatus, dtype: int64

- We could group the luxury vehicles together

In [23]:
categorical["Vehicle Class"] = np.where(categorical["Vehicle Class"].isin(["Luxury Car", "Sports Car", "Luxury SUV"]), "Luxury", categorical["Vehicle Class"])
categorical["Vehicle Class"].value_counts()

Four-Door Car    4621
Two-Door Car     1886
SUV              1796
Luxury            831
Name: Vehicle Class, dtype: int64

- We could think of limitint the states to only 'California', 'Oregon', and 'Arizona'
- In education we could group 'Master' and 'Doctor' both in 'High / Advanced education'

## 8. Compare policy_type and policy.

In [28]:
categorical["Policy Type"].value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: Policy Type, dtype: int64

In [29]:
categorical["Policy"].value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: Policy, dtype: int64

"Policy Type" seems to be a disgregation of "Policy", like some sort of levels.

In [38]:
policy_per = categorical[categorical["Policy Type"] == "Personal Auto"]
print(policy_per["Policy"].value_counts())

policy_cor = categorical[categorical["Policy Type"] == "Corporate Auto"]
print(policy_cor["Policy"].value_counts())

policy_spe = categorical[categorical["Policy Type"] == "Special Auto"]
print(policy_spe["Policy"].value_counts())

Personal L3    3426
Personal L2    2122
Personal L1    1240
Name: Policy, dtype: int64
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Name: Policy, dtype: int64
Special L2    164
Special L3    148
Special L1     66
Name: Policy, dtype: int64

## 9. Check number of unique values in each column.
Can they be combined in any way to ease encoding? Comment your thoughts and make those changes.

In [41]:
for col in categorical:
    print(col, "-", categorical[col].nunique())

Customer - 9134
State - 5
Response - 2
Coverage - 3
Education - 5
Effective To Date - 59
EmploymentStatus - 2
Gender - 2
Location Code - 3
Marital Status - 3
Policy Type - 3
Policy - 9
Renew Offer Type - 4
Sales Channel - 4
Vehicle Class - 4
Vehicle Size - 3

Comments already done in point 7.